/* Reset some default styles in browsers */
body, h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

/* Add a background color to the whole page */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Style the header section */
header {
  background-color: #50b3a2;
  color: white;
  text-align: center;
  padding: 1em 0;
}

/* Style the navigation menu */
nav ul {
  background-color: #333;
  overflow: hidden;
  color: white;
}
nav ul li {
  float: left;
  display: inline;
  padding: 14px 16px;
  color: white;
}

/* Style the main content */
section {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}

/* Style the footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
